<nav class="navbar navbar-default navbar-fixed-top fixed-nav-bar">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><img src="http://placehold.it/150x50"></a>
        </div>
        <div class="collapse navbar-collapse navbar-links" id="myNavBar">
            <ul class="nav navbar-nav">

                <button class="btn btn-primary btn-margin" [routerLink]="['']">Home</button>
                <button class="btn btn-primary btn-margin" [routerLink]="['/generic']">Generic</button>
                <button class="btn btn-primary btn-margin" *ngIf="auth.authenticated()" [routerLink]="['/generic']">Generic Private</button>

            </ul>
        </div>

        <div class="collapse navbar-collapse navbar-links pull-right">
            <div class="pull-right">
                <button class="btn btn-success btn-margin pull-right" (click)="auth.login()"
                        *ngIf="!auth.authenticated()">Log In
                </button>
                <button class="btn btn-danger btn-margin pull-right" (click)="auth.logout()"
                        *ngIf="auth.authenticated()">Log
                    Out
                </button>
            </div>
        </div>
    </div>
</nav>
